:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: hsl(0 0 40%);
  background-image: url(https://images.unsplash.com/photo-1745669754254-c30c98e5f8b1?w=2070&auto=format&fit=crop);
  background-size: cover;

  /* COLORS */
  --primary: hsl(0 0% 30%);
  --accent: hsl(80 70% 55%);
  --text: hsl(0 0% 90%);
  --text-dimmed: hsl(0 0% 60%);

  /* --primary-normal hsl(50 10% 90% / var(--opacity));
  --accent: hsl(20 90% 60%);
  --text: hsl(0 0% 20%);
  --text-dimmed: hsl(0 0% 45%); */

  /* UI */
  --primary-normal: hsl(from var(--primary) h s l / var(--opacity));
  --primary-light: color-mix(in hsl, var(--primary-normal), white 10%);
  --primary-lighter: color-mix(in hsl, var(--primary-normal), white 20%);
  --primary-dark: color-mix(in hsl, var(--primary-normal), black 10%);
  --primary-darker: color-mix(in hsl, var(--primary-normal), black 20%);

  --yes: var(--accent);
  --yes-light: color-mix(in hsl, var(--yes), white 15%);
  --no: hsl(0 75% 65%);
  --no-light: color-mix(in hsl, var(--no), white 15%);

  --app-padding: 3rem 3rem;
  --blur-amount: 16px;
  --opacity: 0.8;

  /* --app-padding: 6rem 18rem;
  --opacity: 0.5;
  --blur-amount: 8px; */

  /* TYPING */
  --typing-font-scale: 1;
  --typing-line-scale: 1;
  --typing-bg: var(--primary-normal);
  --typing-menu-bg: hsl(from var(--primary-darker) h s l / 100%);
  --typing-menu-color: var(--text-dimmed);
  --typing-menu-color-lighter: var(--text);
  --typing-trailer: var(--primary-dark);
  --typing-trailer-color: var(--text-dimmed);
  --typing-text: var(--text);
  --typing-text-dimmed: var(--text-dimmed);
  --typing-text-error: hsl(0, 85%, 70%);
  --typing-text-error-dimmed: hsl(0, 35%, 45%);
  --typing-caret-color: var(--accent);
  --typing-caret-width: calc(2px * var(--typing-font-scale));

  color: var(--text-dimmed);
}

html,
body {
  height: 100%;
  margin: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--text-dimmed) transparent;
}

* {
  box-sizing: border-box;
}

/*
* UTILITIES (layout only!)
*/

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}