:root {
  /* COLORS */
  --primary-hsl: 0 0% 30%;
  --accent-hsl: 80 70% 55%;
  --text-hsl: 0 0% 97%;
  --text-dimmed-hsl: 0 0% 72%;
  --primary: hsl(var(--primary-hsl));
  --accent: hsl(var(--accent-hsl));
  --text: hsl(var(--text-hsl));
  --text-dimmed: hsl(var(--text-dimmed-hsl));

  /* UI */
  --primary-dark: color-mix(in hsl, var(--primary), black 20%);
  --primary-light: color-mix(in hsl, var(--primary), white 20%);

  --ui-main-bg: hsl(from var(--primary) h s l / var(--opacity));
  /* Control overlay strength */
  --ui-nav-bg: hsl(from var(--primary-dark) h s l / calc(0.6 * var(--opacity)));
  --ui-nav-hover: hsl(from var(--primary-light) h s l / 0.5);
  --ui-nav-text: var(--text-dimmed);
  --ui-content-bg: hsl(from var(--primary-dark) h s l / calc(0.6 * var(--opacity)));
  --ui-content-border: var(--ui-border);
  --ui-toc-bg: var(--primary-dark);
  --ui-toc-hover: hsl(from var(--primary-light) h s l / 1);
  --ui-toc-active: hsl(from var(--primary) h s l / 1);
  --ui-important: hsl(0 75% 65%);
  --ui-border-active: var(--accent);
  /* transparent on low opacity */
  --ui-border: hsl(from var(--primary-light) h s l / calc(2 * var(--opacity)));

  /* UI - Widgets */
  --ui-card: transparent;
  --ui-card-hover: hsl(from var(--primary-light) h s l / 0.3);
  --ui-card-more-bg: hsla(0, 0%, 0%, 0.3);
  --ui-card-more-hover: hsla(0, 0%, 0%, 0.6);
  --ui-card-more-text: #ddd;
  --ui-button-bg: hsl(from var(--primary-dark) h s l / var(--opacity));
  --ui-button-text: var(--text-dimmed);
  --ui-slider-bg: hsl(from var(--primary-dark) h s l / var(--opacity));
  --ui-slider-active: var(--accent);
  --ui-slider-thumb: #fff;
  --ui-dropdown-bg: hsl(from var(--primary-dark) h s l / var(--opacity));
  --ui-dropdown-hover: hsl(from var(--primary) h s l / var(--opacity));
  --ui-toggle-bg: hsl(from var(--primary-dark) h s l / var(--opacity));
  --ui-toggle-active: var(--accent);
  --ui-toggle-thumb: #fff;
  --ui-prompt-cover: #00000069;
  --ui-prompt-bg: hsl(from var(--primary) h s l / calc(2.5 * var(--opacity)));

  /* COMMON TRANSITIONS */
  --ui-border-transition: border 0.2s ease;
  --ui-bg-transition: background 0.2s ease;
  --ui-text-transition: color 0.2s ease;
  --typing-bg-transition: background 0.25s ease;
  --typing-text-transition: color 0.25s ease;
  --typing-caret-transition: top 0.05s ease, left 0.1s ease;
  --typing-letter-transition: color 0.1s;

  /* TYPING */
  --typing-font-scale: 1;
  --typing-line-scale: 1;
  --typing-bg: hsl(from var(--primary) h s l / var(--opacity));
  --typing-menu-bg: hsl(from var(--primary) h s calc(l * 0.85) / 100%);
  --typing-menu-color: var(--text-dimmed);
  --typing-menu-color-lighter: var(--text);
  --typing-trailer: hsl(from var(--primary) h s calc(l * 0.85) / calc(2 * var(--opacity)));
  --typing-trailer-color: var(--text-dimmed);
  --typing-text: var(--text);
  --typing-text-dimmed: var(--text-dimmed);
  --typing-text-error: hsl(0, 85%, 70%);
  --typing-text-error-dimmed: hsl(0, 35%, 45%);
  --typing-caret-color: var(--accent);
  --typing-caret-width: calc(2px * var(--typing-font-scale));

  /* FONTS */
  --ui-font: sans-serif;
  --typing-font: monospace;
  --ui-button-text: var(--ui-font);

  /* OTHER*/
  --app-padding: 3rem 3rem;
  --blur-amount: 16px;
  --opacity: 0.8;
  --image-layout: cover;
  --image-url: url(https://images.unsplash.com/photo-1745669754254-c30c98e5f8b1?w=2070&auto=format&fit=crop);

  background-color: var(--primary-dark);
  background-image: var(--image-url);
  background-size: var(--image-layout);
  background-position: center;
  /* background-repeat: no-repeat; */

  color: var(--text-dimmed);
  font-family: var(--ui-font);
}

/* Adjust layout for a lighter color scheme */
:root[data-mode="light"] {
  --primary-light: color-mix(in hsl, var(--primary), black 20%);
  --primary-dark: color-mix(in hsl, var(--primary), white 40%);
}

#app {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--text-dimmed) transparent;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

/*
* WIDGETS
*/

/* General container/section for content in a page */
.content-container {
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--ui-content-bg);
  border: 1px solid var(--ui-content-border);
}

/* For important sections */
.content-container.danger {
  border: 2px solid var(--ui-important);
}

.content-texts {
  flex-grow: 1;
  color: var(--text);
}

.content-texts>*:first-child {
  font-weight: bold;
  color: var(--text-dimmed);
}

.divider {
  margin: 1rem 0;
  border-bottom: 1px solid var(--ui-border);
}

.button {
  width: 12rem;
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--ui-border);
  background-color: var(--ui-button-bg);
  color: var(--ui-button-text);

  cursor: pointer;
  transition: var(--ui-border-transition), var(--ui-text-transition);
  font-family: var(--ui-button-font)
}

.button:hover,
.button:focus-visible {
  outline: none;
  border-color: var(--ui-border-active);
  color: var(--text);
}

.button.danger {
  border: 1px solid var(--ui-important);
}

.button.danger:hover,
.button.danger:focus-visible {
  color: var(--ui-important);
}

.button.icon-btn {
  width: fit-content;
  padding: 0.5rem;
}

/*
* UTILITIES (layout only!)
*/

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.align-center {
  align-items: center;
}